In [ ]:
import pandas as pd
import numpy as np
X=pd.read_csv("/content/India Agriculture Crop Production(1).csv")
X.iloc[:20]
#introductory look at our dataset

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.00,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.00,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.00,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.00,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.00,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-04,Whole Year,3118.0,Hectare,5182.00,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2002-03,Whole Year,213.0,Hectare,1278.00,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2003-04,Whole Year,266.0,Hectare,1763.00,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2002-03,Whole Year,1524.0,Hectare,10882.00,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-04,Whole Year,1530.0,Hectare,11558.00,Tonnes,7.554248
10,Andaman and Nicobar Islands,NICOBARS,Black pepper,2002-03,Whole Year,63.0,Hectare,13.50,Tonnes,0.214286
11,Andaman and Nicobar Islands,NICOBARS,Black pepper,2003-04,Whole Year,75.5,Hectare,15.86,Tonnes,0.210066
12,Andaman and Nicobar Islands,SOUTH ANDAMANS,Black pepper,2002-03,Whole Year,487.0,Hectare,102.50,Tonnes,0.210472
13,Andaman and Nicobar Islands,SOUTH ANDAMANS,Black pepper,2003-04,Whole Year,497.0,Hectare,104.37,Tonnes,0.210000
14,Andaman and Nicobar Islands,NICOBARS,Cashewnut,2001-02,Whole Year,719.0,Hectare,192.00,Tonnes,0.267038
15,Andaman and Nicobar Islands,NICOBARS,Cashewnut,2002-03,Whole Year,719.0,Hectare,208.00,Tonnes,0.289291
16,Andaman and Nicobar Islands,NICOBARS,Cashewnut,2003-04,Whole Year,717.0,Hectare,208.50,Tonnes,0.290795
17,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Cashewnut,2001-02,Whole Year,81.0,Hectare,33.00,Tonnes,0.407407
18,Andaman and Nicobar Islands,SOUTH ANDAMANS,Cashewnut,2002-03,Whole Year,81.0,Hectare,24.00,Tonnes,0.296296
19,Andaman and Nicobar Islands,SOUTH ANDAMANS,Cashewnut,2003-04,Whole Year,116.5,Hectare,26.14,Tonnes,0.224378

In [ ]:
rows, cols = X.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 345407, Columns: 10

In [ ]:
X["Crop"].unique()
#So as to maintain specificity, we shall be dropping rows with "Other crops"

array(['Arecanut', 'Banana', 'Black pepper', 'Cashewnut', 'Coconut',
       'Dry chillies', 'Ginger', 'Other Kharif pulses', 'other oilseeds',
       'Rice', 'Sugarcane', 'Sweet potato', 'Arhar/Tur', 'Bajra',
       'Castor seed', 'Coriander', 'Cotton(lint)', 'Gram', 'Groundnut',
       'Horse-gram', 'Jowar', 'Linseed', 'Maize', 'Mesta',
       'Moong(Green Gram)', 'Niger seed', 'Onion', 'Other Rabi pulses',
       'Potato', 'Ragi', 'Rapeseed &Mustard', 'Safflower', 'Sesamum',
       'Small millets', 'Soyabean', 'Sunflower', 'Tapioca', 'Tobacco',
       'Turmeric', 'Urad', 'Wheat', 'Oilseeds total', 'Jute', 'Masoor',
       'Peas & beans (Pulses)', 'Barley', 'Garlic', 'Khesari', 'Sannhamp',
       'Guar seed', 'Moth', 'Cardamom', 'Other Cereals', 'Cowpea(Lobia)',
       'Dry Ginger', 'Other Summer Pulses', nan], dtype=object)

In [ ]:
X["Season"].unique()
#As we can see, Both columns "Crop" and "Season" contain missing values. We shall explore a strategy to overcome this problem.

array(['Kharif', 'Whole Year', 'Rabi', 'Autumn', 'Summer', 'Winter', nan],
      dtype=object)

In [ ]:
# Check for NaN values in each column and print column names
def check_nan_columns(df):
    """Check which columns contain NaN values and print their names"""
    nan_columns = df.columns[df.isna().any()].tolist()

    if nan_columns:
        print("Columns with NaN values:")
        for col in nan_columns:
            nan_count = df[col].isna().sum()
            print(f"  - {col}: {nan_count} NaN values")
    else:
        print("No columns contain NaN values")

    return nan_columns

# Example usage:
# Assuming you have a DataFrame called 'df'
# nan_cols = check_nan_columns(df)

# For your specific case with X_train_final and y_train:
print("Checking X_train_final:")
nan_cols_X = check_nan_columns(X)

Checking X_train_final:
Columns with NaN values:
  - Crop: 32 NaN values
  - Season: 1 NaN values
  - Area: 33 NaN values
  - Production: 4993 NaN values
  - Yield: 33 NaN values

In [ ]:
# Count NaN values per row
nan_per_row = X.isna().sum(axis=1)

# Find rows with more than 1 NaN
rows_with_multiple_nan = nan_per_row[nan_per_row > 1]

# Count such rows
count_multiple_nan_rows = len(rows_with_multiple_nan)

print(f"Number of rows with multiple NaN values: {count_multiple_nan_rows}")
print(f"Rows with multiple NaNs: {rows_with_multiple_nan}")

# Get the actual row indices
multiple_nan_indices = rows_with_multiple_nan.index.tolist()
print(f"Row indices with multiple NaNs: {multiple_nan_indices}")

Number of rows with multiple NaN values: 33
Rows with multiple NaNs: 294263    4
345375    4
345376    4
345377    4
345378    4
345379    4
345380    4
345381    4
345382    4
345383    4
345384    4
345385    4
345386    4
345387    4
345388    4
345389    4
345390    4
345391    4
345392    4
345393    4
345394    4
345395    4
345396    4
345397    4
345398    4
345399    4
345400    4
345401    4
345402    4
345403    4
345404    4
345405    4
345406    4
dtype: int64
Row indices with multiple NaNs: [294263, 345375, 345376, 345377, 345378, 345379, 345380, 345381, 345382, 345383, 345384, 345385, 345386, 345387, 345388, 345389, 345390, 345391, 345392, 345393, 345394, 345395, 345396, 345397, 345398, 345399, 345400, 345401, 345402, 345403, 345404, 345405, 345406]

In [ ]:
#imputation for "Crop"
# Step 1: district-level mode
district_mode = (
    X.groupby("District")["Crop"]
     .agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan)
)

# Step 2: state-level mode
state_mode = (
    X.groupby("State")["Crop"]
     .agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan)
)

# Step 3: function to fill with hierarchy
def fill_crop(row):
    if pd.isna(row["Crop"]):
        # try district mode
        district_val = district_mode.get(row["District"], np.nan)
        if pd.notna(district_val):
            return district_val
        # fallback to state mode
        state_val = state_mode.get(row["State"], np.nan)
        if pd.notna(state_val):
            return state_val
        # final fallback
        return "Unknown"
    else:
        return row["Crop"]

# Step 4: apply
X["Crop"] = X.apply(fill_crop, axis=1)

In [ ]:
#imputation for "Season"
# Step 1: calculate mode of Season for each Crop
crop_season_mode = (
    X.groupby("Crop")["Season"]
     .agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan)
)

# Step 2: function to fill missing Season
def fill_season(row):
    if pd.isna(row["Season"]):
        season_val = crop_season_mode.get(row["Crop"], np.nan)
        if pd.notna(season_val):
            return season_val
        return "Unknown"   # fallback if no mode for that crop
    else:
        return row["Season"]

# Step 3: apply
X["Season"] = X.apply(fill_season, axis=1)

In [ ]:
def impute_values(row):
    prod, area, yld = row["Production"], row["Area"], row["Yield"]

    # Case 1: Fill Yield
    if pd.isna(yld) and pd.notna(prod) and pd.notna(area) and area != 0:
        row["Yield"] = prod / area

    # Case 2: Fill Production
    elif pd.isna(prod) and pd.notna(yld) and pd.notna(area):
        row["Production"] = yld * area

    # Case 3: Fill Area
    elif pd.isna(area) and pd.notna(yld) and pd.notna(prod) and yld != 0:
        row["Area"] = prod / yld

    # Else â†’ do nothing, leave NaN
    return row

X = X.apply(impute_values, axis=1)

In [ ]:
# Check for NaN values in each column and print column names
def check_nan_columns(df):
    """Check which columns contain NaN values and print their names"""
    nan_columns = df.columns[df.isna().any()].tolist()

    if nan_columns:
        print("Columns with NaN values:")
        for col in nan_columns:
            nan_count = df[col].isna().sum()
            print(f"  - {col}: {nan_count} NaN values")
    else:
        print("No columns contain NaN values")

    return nan_columns

# Example usage:
# Assuming you have a DataFrame called 'df'
# nan_cols = check_nan_columns(df)

# For your specific case with X_train_final and y_train:
print("Checking X_train_final:")
nan_cols_X = check_nan_columns(X)

Checking X_train_final:
Columns with NaN values:
  - Area: 33 NaN values
  - Production: 33 NaN values
  - Yield: 33 NaN values

In [ ]:
mask_all_missing = X[["Production", "Area", "Yield"]].isna().all(axis=1)

count_all_missing = mask_all_missing.sum()
print(f"Number of rows where Production, Area, and Yield are all missing: {count_all_missing}")
#we will be dropping such rows
X = X.dropna(subset=["Production", "Area", "Yield"], how="all")

Number of rows where Production, Area, and Yield are all missing: 33

In [ ]:
# Check for NaN values in each column and print column names
def check_nan_columns(df):
    """Check which columns contain NaN values and print their names"""
    nan_columns = df.columns[df.isna().any()].tolist()

    if nan_columns:
        print("Columns with NaN values:")
        for col in nan_columns:
            nan_count = df[col].isna().sum()
            print(f"  - {col}: {nan_count} NaN values")
    else:
        print("No columns contain NaN values")

    return nan_columns

# Example usage:
# Assuming you have a DataFrame called 'df'
# nan_cols = check_nan_columns(df)

# For your specific case with X_train_final and y_train:
print("Checking X_train_final:")
nan_cols_X = check_nan_columns(X)

Checking X_train_final:
No columns contain NaN values

In [ ]:
indexes=X[X["Crop"].isin(["Other Kharif pulses","other oilseeds","Other Rabi pulses","Oilseeds total","Other Cereals","Other Summer Pulses"])].index
X_mod=X.drop(indexes)
rows, cols = X_mod.shape
print(f"Rows: {rows}, Columns: {cols}")

Rows: 331392, Columns: 10

In [ ]:
pred=X_mod.Production
X_t=X_mod.drop(["Yield","Area Units","Production Units","Production","Year"],axis=1)
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=train_test_split(X_t,pred,test_size=0.2)

In [ ]:
#main preprocessing
#categorical cols will be implemented using one hot encoding
List1=[]
for col in X_t.columns:
    if X_t[col].dtype=="object":
        List1.append(col)
#list 1 now contains all columns in the dataframe which have entries of object datatype in them i.e these are the columns containing categorical variables that are to be one hot encoded
X1=X_train.drop(List1,axis=1)
X2=X_valid.drop(List1,axis=1)
from sklearn.preprocessing import OneHotEncoder
OHE=OneHotEncoder(sparse_output=False,handle_unknown="ignore")
P1=pd.DataFrame(OHE.fit_transform(X_train[List1]))
P2=pd.DataFrame(OHE.transform(X_valid[List1])) #using fit here causes data leakage as the model can now peek into validation data. so fit is not being used here.
P1.index=X_train.index
P2.index=X_valid.index
X_train_final=pd.concat([X1,P1],axis=1)
X_valid_final=pd.concat([X2,P2],axis=1)
X_train_final.head()

,Area,0,1,2,3,4,5,6,7,8,...,806,807,808,809,810,811,812,813,814,815
156280,61600.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
166510,4121.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
313687,369.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
83390,352.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
196802,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
#modelling using gradient boosting
from xgboost import XGBRegressor
model=XGBRegressor(n_estimators=1000,learning_rate=0.05,n_jobs=-1,random_state=0)
model.fit(X_train_final,y_train)
print(model.predict(X_valid_final))
model.score(X_valid_final,y_valid)

[ 9139.491  -3337.4211 -2315.8347 ...  8715.605  -2748.461  -2846.821 ]

0.9565432616336679

In [ ]:
model.score(X_train_final, y_train)
#Care has been taken to ensure that there is no validation data being leaked as mentioned in the previous steps

0.9740420565050549

In [ ]:
#cross validation for a better picture of accuracy
from sklearn.model_selection import cross_val_score, KFold
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor

# Identify categorical columns (same as before)
categorical_cols = X_t.select_dtypes(include=['object']).columns.tolist()
numerical_cols = X_t.select_dtypes(exclude=['object']).columns.tolist()

# Create a preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown="ignore"), categorical_cols),
        ('num', 'passthrough', numerical_cols)
    ]
)

# Create full pipeline with preprocessing + model
full_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=-1, random_state=0))
])

# Now run cross-validation on the RAW data
cv_scores = cross_val_score(
    estimator=full_pipeline,  # Use the pipeline, not just the model
    X=X_t,                    # Raw data with categoricals
    y=pred,                   # Target
    cv=5,
    scoring='r2',
    n_jobs=-1
)

print("Cross-Validation RÂ² Scores:", cv_scores)
print(f"Mean CV RÂ²: {cv_scores.mean():.4f} (Â±{cv_scores.std()*2:.4f})")

Cross-Validation RÂ² Scores: [0.92149717 0.88679431 0.95561553 0.91532247 0.94805926]
Mean CV RÂ²: 0.9255 (Â±0.0493)

First, let's save the trained model and the OneHotEncoder object. You will need these files to run your Streamlit app.

In [ ]:
import pickle

# Save the trained XGBoost model
with open('xgboost_model.pkl', 'wb') as f:
    pickle.dump(model, f)

# Save the OneHotEncoder
with open('onehot_encoder.pkl', 'wb') as f:
    pickle.dump(OHE, f)

print("Model and OneHotEncoder saved successfully.")

Model and OneHotEncoder saved successfully.

Now, you can download these files (`xgboost_model.pkl` and `onehot_encoder.pkl`) from the file explorer in the left sidebar.

Next, create a new Python file (e.g., `app.py`) and add the following code. This is the code for your Streamlit web app.

In [ ]:
import streamlit as st
import pandas as pd
import pickle
import numpy as np

# Load the trained model and the OneHotEncoder
try:
    with open('xgboost_model.pkl', 'rb') as f:
        model = pickle.load(f)
    with open('onehot_encoder.pkl', 'rb') as f:
        OHE = pickle.load(f)
except FileNotFoundError:
    st.error("Model or OneHotEncoder file not found. Make sure 'xgboost_model.pkl' and 'onehot_encoder.pkl' are in the same directory.")
    st.stop()


st.title("Crop Production and Yield Prediction")

st.write("Enter the details below to predict crop production and yield.")

# Hardcoded unique values for categorical features
state_options = ['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']
district_options = ['NICOBARS', 'NORTH AND MIDDLE ANDAMAN', 'SOUTH ANDAMANS', 'ANANTAPUR', 'CHITTOOR', 'EAST GODAVARI', 'GUNTUR', 'KADAPA', 'KRISHNA', 'KURNOOL', 'PRAKASAM', 'SPSR NELLORE', 'SRIKAKULAM', 'VISAKHAPATNAM', 'VIZIANAGARAM', 'WEST GODAVARI', 'ANJAW', 'CHANGLANG', 'DIBANG VALLEY', 'EAST KAMENG', 'EAST SIANG', 'KURUNG KUMEY', 'LOHIT', 'LONGDING', 'LOWER DIBANG VALLEY', 'LOWER SUBANSIRI', 'NAMSAI', 'PAPUM PARE', 'TAWANG', 'TIRAP', 'UPPER SIANG', 'UPPER SUBANSIRI', 'WEST KAMENG', 'WEST SIANG', 'BAKSA', 'BARPETA', 'BONGAIGAON', 'CACHAR', 'CHIRANG', 'DARRANG', 'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'GOALPARA', 'GOLAGHAT', 'HAILAKANDI', 'JORHAT', 'KAMRUP', 'KAMRUP METRO', 'KARBI ANGLONG', 'KARIMGANJ', 'KOKRAJHAR', 'LAKHIMPUR', 'MARIGAON', 'NAGAON', 'NALBARI', 'SIVASAGAR', 'SONITPUR', 'TINSUKIA', 'UDALGURI', 'ARARIA', 'ARWAL', 'AURANGABAD', 'BANKA', 'BEGUSARAI', 'BHAGALPUR', 'BHOJPUR', 'BUXAR', 'DARBHANGA', 'GAYA', 'GOPALGANJ', 'JAMUI', 'JEHANABAD', 'KAIMUR (BHABUA)', 'KATIHAR', 'KHAGARIA', 'KISHANGANJ', 'LAKHISARAI', 'MADHEPURA', 'MADHUBANI', 'MUNGER', 'MUZAFFARPUR', 'NALANDA', 'NAWADA', 'PASCHIM CHAMPARAN', 'PATNA', 'PURBI CHAMPARAN', 'PURNIA', 'ROHTAS', 'SAHARSA', 'SAMASTIPUR', 'SARAN', 'SHEIKHPURA', 'SHEOHAR', 'SITAMARHI', 'SIWAN', 'SUPAUL', 'VAISHALI', 'CHANDIGARH', 'BALOD', 'BALODA BAZAR', 'BALRAMPUR', 'BASTAR', 'BEMETARA', 'BIJAPUR', 'BILASPUR', 'DAKSHIN BASTAR DANTEWADA', 'DHAMTARI', 'DURG', 'GARIYABAND', 'JANJGIR-CHAMPA', 'JASHPUR', 'KABIRDHAM', 'KANKER', 'KONDAGAON', 'KORBA', 'KORIYA', 'MAHASAMUND', 'MUNGELI', 'NARAYANPUR', 'RAIGARH', 'RAIPUR', 'RAJNANDGAON', 'SUKMA', 'SURGUJA', 'SURAJPUR', 'UTTAR BASTAR KANKER', 'DADRA AND NAGAR HAVELI', 'DAMAN', 'DIU', 'CENTRAL', 'EAST', 'NEW DELHI', 'NORTH', 'NORTH EAST', 'NORTH WEST', 'SOUTH', 'SOUTH WEST', 'WEST', 'NORTH GOA', 'SOUTH GOA', 'AHMADABAD', 'AMRELI', 'ANAND', 'BANAS KANTHA', 'BHARUCH', 'BHAVNAGAR', 'BOTAD', 'CHHOTAUDEPUR', 'DANG', 'DEVBHUMI DWARKA', 'GANDHINAGAR', 'GIR SOMNATH', 'JAMNAGAR', 'JUNAGADH', 'KACHCHH', 'KHEDA', 'MAHISAGAR', 'MEHSANA', 'MORBI', 'NARMADA', 'NAVSARI', 'PANCHMAHAL', 'PATAN', 'PORBANDAR', 'RAJKOT', 'SABAR KANTHA', 'SURAT', 'SURENDRANAGAR', 'TAPI', 'VADODARA', 'VALSAD', 'AMBALA', 'BHIWANI', 'CHARKHI DADRI', 'FARIDABAD', 'FATEHABAD', 'GURUGRAM', 'HISAR', 'JHAJJAR', 'JIND', 'KAITHAL', 'KARNAL', 'KURUKSHETRA', 'MAHENDRAGARH', 'MEWAT', 'PALWAL', 'PANCHKULA', 'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONIPAT', 'YAMUNANAGAR', 'BILASPUR', 'CHAMBA', 'HAMIRPUR', 'KANGRA', 'KINNAUR', 'KULLU', 'LAHAUL AND SPITI', 'MANDI', 'SHIMLA', 'SIRMAUR', 'SOLAN', 'UNA', 'ANANTNAG', 'BARAMULLA', 'BUDGAM', 'DODA', 'GANDERBAL', 'JAMMU', 'KARGIL', 'KATHUA', 'KISHTWAR', 'KULGAM', 'KUPWARA', 'LEH LADAKH', 'POONCH', 'PULWAMA', 'RAJAURI', 'RAMBAN', 'REASI', 'SAMBA', 'SHOPIAN', 'SRINAGAR', 'UDHAMPUR', 'BOKARO', 'CHATRA', 'DEOGHAR', 'DHANBAD', 'DUMKA', 'EAST SINGHBHUM', 'GARHWA', 'GIRIDIH', 'GODDA', 'GUMLA', 'HAZARIBAGH', 'JAMTARA', 'KHUNTI', 'KODERMA', 'LATEHAR', 'LOHARDAGA', 'PAKUR', 'PALAMU', 'RAMGARH', 'RANCHI', 'SAHIBGANJ', 'SARAIKELA KHARSWAN', 'SIMDEGA', 'WEST SINGHBHUM', 'BAGALKOT', 'BENGALURU RURAL', 'BENGALURU URBAN', 'BELAGAVI', 'BELLARY', 'BIDAR', 'CHAMARAJANAGAR', 'CHIKKABALLAPURA', 'CHIKKAMAGALURU', 'CHITRADURGA', 'DAKSHINA KANNADA', 'DAVANAGERE', 'DHARWAD', 'GADAG', 'HASSAN', 'HAVERI', 'KALABURAGI', 'KODAGU', 'KOLAR', 'KOPPAL', 'MANDYA', 'MYSURU', 'RAICHUR', 'RAMANAGARA', 'SHIVAMOGGA', 'TUMAKURU', 'UDUPI', 'UTTARA KANNADA', 'VIJAYAPURA', 'YADGIR', 'ALAPPUZHA', 'ERNAKULAM', 'IDUKKI', 'KANNUR', 'KASARAGOD', 'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM', 'PALAKKAD', 'PATHANAMTHITTA', 'THIRUVANANTHAPURAM', 'THRISSUR', 'WAYANAD', 'AGAR MALWA', 'ALIRAJPUR', 'ANUPPUR', 'ASHOKNAGAR', 'BALAGHAT', 'BARWANI', 'BETUL', 'BHIND', 'BHOPAL', 'BURHANPUR', 'CHHATARPUR', 'CHHINDWARA', 'DAMOH', 'DATIA', 'DEWAS', 'DHAR', 'DINDORI', 'GUNA', 'GWALIOR', 'HARDA', 'HOSHANGABAD', 'INDORE', 'JABALPUR', 'JHABUA', 'KATNI', 'KHANDWA', 'KHARGONE', 'MANDLA', 'MANDSAUR', 'MORENA', 'NARSINGHPUR', 'NEEMUCH', 'PANNA', 'RAISEN', 'RAJGARH', 'RATLAM', 'REWA', 'SAGAR', 'SATNA', 'SEHORE', 'SEONI', 'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI', 'SIDHI', 'SINGRAULI', 'TIKAMGARH', 'UJJAIN', 'UMARIA', 'VIDISHA', 'AHMEDNAGAR', 'AKOLA', 'AMRAVATI', 'AURANGABAD', 'BEED', 'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE', 'GADCHIROLI', 'GONDIYA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR', 'LATUR', 'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASIK', 'OSMANABAD', 'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI', 'SANGLI', 'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA', 'WASHIM', 'YAVATMAL', 'BISHNUPUR', 'CHANDEL', 'CHURACHANDPUR', 'IMPHAL EAST', 'IMPHAL WEST', 'KANGPOKPI', 'KAKCHING', 'KAMJONG', 'NONEY', 'PHERZAWL', 'SENAPATI', 'TAMENGLONG', 'TENGNOUPAL', 'THOUBAL', 'UKHRUL', 'EAST GARO HILLS', 'EAST JAINTIA HILLS', 'EAST KHASI HILLS', 'NORTH GARO HILLS', 'RI BHOI', 'SOUTH GARO HILLS', 'SOUTH WEST GARO HILLS', 'SOUTH WEST KHASI HILLS', 'WEST JAINTIA HILLS', 'WEST KHASI HILLS', 'AIZAWL', 'CHAMPHAI', 'KOLASIB', 'LAWNGTLAI', 'LUNGLEI', 'MAMIT', 'SAIHA', 'SERCHHIP', 'DIMAPUR', 'KIPHIRE', 'KOHIMA', 'LONGLENG', 'MOKOKCHUNG', 'MON', 'PEREN', 'PHEK', 'TUENSANG', 'WOKHA', 'ZUNHEBOTO', 'ANUGUL', 'BALANGIR', 'BALASORE', 'BARGARH', 'BHADRAK', 'BOUDH', 'CUTTACK', 'DEOGARH', 'DHENKANAL', 'GAJAPATI', 'GANJAM', 'JAGATSINGHPUR', 'JAJPUR', 'JHARSUGUDA', 'KALAHANDI', 'KANDHAMAL', 'KENDRAPARA', 'KENDUJHAR', 'KHORDHA', 'KORAPUT', 'MALKANGIRI', 'MAYURBHANJ', 'NABARANGPUR', 'NAYAGARH', 'NUAPADA', 'PURI', 'RAYAGADA', 'SAMBALPUR', 'SONEPUR', 'SUNDARGARH', 'KARAIKAL', 'MAHE', 'PUDUCHERRY', 'YANAM', 'AMRITSAR', 'BARNALA', 'BATHINDA', 'FARIDKOT', 'FATEHGARH SAHIB', 'FAZILKA', 'FIROZEPUR', 'GURDASPUR', 'HOSHIARPUR', 'JALANDHAR', 'KAPURTHALA', 'LUDHIANA', 'MANSA', 'MOGA', 'MUKTSAR', 'NAWANSHAHR (Shahid Bhagat Singh Nagar)', 'PATHANKOT', 'PATIALA', 'RUPNAGAR', 'SANGRUR', 'SAS NAGAR (Mohali)', 'TARAN TARAN', 'AJMER', 'ALWAR', 'BANSWARA', 'BARAN', 'BARMER', 'BHARATPUR', 'BHILWARA', 'BIKANER', 'BUNDI', 'CHITTAURGARH', 'CHURU', 'DAUSA', 'DHOLPUR', 'DUNGARPUR', 'GANGANAGAR', 'HANUMANGARH', 'JAIPUR', 'JAISALMER', 'JALORE', 'JHALAWAR', 'JHUNJHUNU', 'JODHPUR', 'KARAULI', 'KOTA', 'NAGAUR', 'PALI', 'PRATAPGARH', 'RAJSAMAND', 'SAWAI MADHOPUR', 'SIKAR', 'SIROHI', 'TONK', 'UDAIPUR', 'EAST SIKKIM', 'NORTH SIKKIM', 'SOUTH SIKKIM', 'WEST SIKKIM', 'ARIYALUR', 'CHENGALPATTU', 'CHENNAI', 'COIMBATORE', 'CUDDALORE', 'DHARMAPURI', 'DINDIGUL', 'ERODE', 'KALLAKURICHI', 'KANCHIPURAM', 'KANYAKUMARI', 'KARUR', 'KRISHNAGIRI', 'MADURAI', 'MAYILADUTHURAI', 'NAGAPATTINAM', 'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'RAMANATHAPURAM', 'SALEM', 'SIVAGANGA', 'TENKASI', 'THANJAVUR', 'THENI', 'THOOTHUKUDI', 'TIRUCHIRAPPALLI', 'TIRUNELVELI', 'TIRUPATHUR', 'TIRUPPUR', 'TIRUVALLUR', 'TIRUVANNAMALAI', 'TIRUVARUR', 'VELLORE', 'VILLUPURAM', 'VIRUDHUNAGAR', 'ADILABAD', 'BHADRADRI KOTHAGUDEM', 'JAGITIAL', 'JANGAON', 'JAYASHANKAR BHUPALPALLY', 'Jogulamba Gadwal', 'KAMAREDDY', 'KARIMNAGAR', 'KHAMMAM', 'KOMARAM BHEEM ASIFABAD', 'MAHABUBABAD', 'MAHBUBNAGAR', 'MANCHERIAL', 'MEDAK', 'MEDCHAL MALKAJGIRI', 'MULUGU', 'NAGARKURNOOL', 'NALGONDA', 'NARAYANPET', 'NIRMAL', 'NIZAMABAD', 'PEDDAPALLI', 'RAJANNA SIRCILLA', 'RANGAREDDY', 'SANGAREDDY', 'SIDDIPET', 'SURYAPET', 'VIKARABAD', 'WANAPARTHY', 'WARANGAL RURAL', 'WARANGAL URBAN', 'YADADRI BHUVANAGIRI', 'DHALAI', 'GOMATI', 'KHOWAI', 'NORTH TRIPURA', 'SEPAHIJALA', 'SOUTH TRIPURA', 'UNAKOTI', 'WEST TRIPURA', 'AGRA', 'ALIGARH', 'AMBEDKAR NAGAR', 'AMETHI', 'AMROHA', 'AURAIYA', 'AYODHYA', 'AZAMGARH', 'BAGHPAT', 'BAHRAICH', 'BALIA', 'BALRAMPUR', 'BANDA', 'BARABANKI', 'BAREILLY', 'BASTI', 'Bhadohi', 'BIJNOR', 'BADAUN', 'BULANDSHAHR', 'CHANDAULI', 'CHITRAKOOT', 'DEORIA', 'ETAH', 'ETAWAH', 'AYODHAYA', 'FARRUKHABAD', 'FATEHPUR', 'FIROZABAD', 'GAUTAM BUDDHA NAGAR', 'GHAZIABAD', 'GHAZIPUR', 'GONDA', 'GORAKHPUR', 'HAMIRPUR', 'HAPUR', 'HARDOI', 'HATHRAS', 'JALAUN', 'JAUNPUR', 'JHANSI', 'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KASGANJ', 'KAUSHAMBI', 'KHERI', 'KUSHI NAGAR', 'LAKHIMPUR KHERI', 'LALITPUR', 'LUCKNOW', 'MAHARAJGANJ', 'MAHOBA', 'MAINPURI', 'MATHURA', 'MAU', 'MEERUT', 'MIRZAPUR', 'MORADABAD', 'MUZAFFARNAGAR', 'PILIBHIT', 'PRATAPGARH', 'PRAYAGRAJ', 'RAE BARELI', 'RAMPUR', 'SAHARANPUR', 'SAMBHAL', 'SANT KABIR NAGAR', 'SHAHJAHANPUR', 'SHAMLI', 'SHRAVASTI', 'SIDDHARTH NAGAR', 'SITAPUR', 'SONBHADRA', 'SULTANPUR', 'UNNAO', 'VARANASI', 'ALMORA', 'BAGESHWAR', 'CHAMOLI', 'CHAMPAWAT', 'DEHRADUN', 'GARHWAL', 'HARDWAR', 'NAINITAL', 'PAURI GARHWAL', 'PITHORAGARH', 'RUDRA PRAYAG', 'TEHRI GARHWAL', 'UDAM SINGH NAGAR', 'UTTAR KASHI', '24 PARAGANAS NORTH', '24 PARAGANAS SOUTH', 'ALIPURDUAR', 'BANKURA', 'BIRBHUM', 'BURDWAN (BARDHAMAN)', 'COOCHBEHAR', 'DARJEELING', 'DINAPUR DAKSHIN', 'DINAPUR UTTAR', 'HOOGHLY', 'HOWRAH', 'JALPAIGURI', 'JHAGRAM', 'MALDAH', 'MURSHIDABAD', 'NADIA', 'PASCHIM MEDINIPUR', 'PASCHIM BARDHAMAN', 'PURBA MEDINIPUR', 'PURBA BARDHAMAN', 'PURULIA', 'SOUTH 24 PARGANAS', 'UTTAR DINAJPUR']
crop_options = ['Arecanut', 'Banana', 'Black pepper', 'Cashewnut', 'Coconut', 'Dry chillies', 'Ginger', 'Rice', 'Sugarcane', 'Sweet potato', 'Arhar/Tur', 'Bajra', 'Castor seed', 'Coriander', 'Cotton(lint)', 'Gram', 'Groundnut', 'Horse-gram', 'Jowar', 'Linseed', 'Maize', 'Mesta', 'Moong(Green Gram)', 'Niger seed', 'Onion', 'Potato', 'Ragi', 'Rapeseed &Mustard', 'Safflower', 'Sesamum', 'Small millets', 'Soyabean', 'Sunflower', 'Tapioca', 'Tobacco', 'Turmeric', 'Urad', 'Wheat', 'Jute', 'Masoor', 'Peas & beans (Pulses)', 'Barley', 'Garlic', 'Khesari', 'Sannhamp', 'Guar seed', 'Moth', 'Cardamom', 'Cowpea(Lobia)', 'Dry Ginger']
season_options = ['Kharif', 'Whole Year', 'Rabi', 'Autumn', 'Summer', 'Winter']


# Input fields for features
state = st.selectbox("State", state_options)
district = st.selectbox("District", district_options)
crop = st.selectbox("Crop", crop_options)
season = st.selectbox("Season", season_options)
area = st.number_input("Area", min_value=0.0, format="%f")

if st.button("Predict"):
    # Create a DataFrame with the input values
    input_data = pd.DataFrame({
        'State': [state],
        'District': [district],
        'Crop': [crop],
        'Season': [season],
        'Area': [area]
    })

    # Separate categorical and numerical columns
    categorical_cols = input_data.select_dtypes(include=['object']).columns.tolist()
    numerical_cols = input_data.select_dtypes(exclude=['object']).columns.tolist()

    # Preprocess the input data using the loaded OneHotEncoder
    try:
        input_categorical_encoded = OHE.transform(input_data[categorical_cols])
        input_categorical_encoded_df = pd.DataFrame(input_categorical_encoded, index=input_data.index)
    except ValueError as e:
        st.error(f"Error during one-hot encoding: {e}. This might be due to unseen categories in the input data.")
        st.stop()


    # Combine processed categorical and numerical data
    input_processed = pd.concat([input_data[numerical_cols], input_categorical_encoded_df], axis=1)

    # Ensure columns match the training data columns (important for consistent prediction)
    # This step is crucial if your training data had a different order of one-hot encoded columns
    # or if some categories were not present in the training data but appear in the input.
    # A robust way to handle this is to save the list of columns from X_train_final and reindex here.
    # For this example, I'm assuming the order is consistent, but be aware of this in production.

    # Make prediction
    predicted_production = model.predict(input_processed)[0]

    # Calculate predicted yield
    predicted_yield = predicted_production / area if area > 0 else 0

    st.subheader("Prediction Results:")
    st.write(f"Predicted Production: {predicted_production:.2f}")
    st.write(f"Predicted Yield: {predicted_yield:.2f}")

To deploy this app on GitHub, you will need the following files:

1.  `app.py`: This is the Streamlit application code you just created.
2.  `xgboost_model.pkl`: This is the saved trained XGBoost model.
3.  `onehot_encoder.pkl`: This is the saved OneHotEncoder object.
4.  `requirements.txt`: This file lists the Python packages your app depends on. You can create this file with the following content:

In [ ]:
streamlit run app.py